In [1]:
import pandas as pd
from nltk.stem import PorterStemmer
import time
import sys
import ast
from pickle import load
import json 

ps = PorterStemmer() # stemming for better results

In [2]:
def jaccard_similarity(x,y):
    intersection_cardinality = len(set.intersection(*[set(x), set(y)]))
    union_cardinality = len(set.union(*[set(x), set(y)]))
    return intersection_cardinality/float(union_cardinality)

In [6]:
def search(grocery_list, ps):
    stores = ['zehrs', 'no_frills', 'valu_mart', 'sobeys', 'freshco'] #, 'walmart', 'food_basics']

    # make variables 
    for store in stores:
        globals()[f"{store}_results"] = pd.DataFrame() # dynamically create variable names 

        
    for store in stores: # retrieval for each store 
        
        # load data
        store_data = pd.read_csv(f'clean_data/{store}/{store}_data.csv')

        # load index
        globals()[f"{store}_index"] = load(open(f"catalogue_index/{store}_index.pkl",'rb'))
        
        final_selection = pd.DataFrame(columns = ['list_item', 'store', 'product_name', 'price', 'per_unit_price', 'is_sale'])
        
        for item in grocery_list:
            item_selection = pd.DataFrame(columns = ['list_item', 'store', 'product_name', 'price', 'per_unit_price', 'is_sale'])

            stem_item = ps.stem(item).lower()
            idxs = []

            for word in stem_item.split():
                try: # list item word not in index
                    word_idxs = globals()[f"{store}_index"][word]
                    idxs.extend(word_idxs)
                except: continue

            if not idxs: # no indicies returned
                store_df = pd.DataFrame() # no results: return empty df
            else:
                store_df = store_data.iloc[idxs]


            ##### search items #####
            for index, row in store_df.iterrows():
                
                product_name = row['product']
                is_sale = row.is_sale

                if is_sale:
                    price = row.sale_price
                    per_unit_price = row.sale_per_unit_price
                else:
                    price = row.price
                    per_unit_price = row.per_unit_price

                similarity = jaccard_similarity(stem_item.split(' '), ps.stem(product_name).lower().split(' '))
        
                if similarity >= 0.5: # can tweak threshold but this is a good one for now  
                    data = { 'list_item':item, 'store':store, 'product_name':product_name, 'price':price, 'per_unit_price':per_unit_price, 'similarity':similarity, 'is_sale': is_sale}
                    item_selection = item_selection.append(data, ignore_index=True)    
           
            try:
                # find lowest price from top similarities
                cheapest_item = item_selection.sort_values(by=['per_unit_price', 'similarity'], ascending = [True, False])

                final_selection = final_selection.append(dict(cheapest_item.iloc[0]), ignore_index=True)
            except: continue
                
        globals()[f"{store}_results"] = final_selection
    
        # dump results to csv 
        globals()[f"{store}_results"].to_csv(f'search_output/{store}_results.csv')
    
    return {'zehrs': zehrs_results
        , 'no_frills': no_frills_results
        , 'valu_mart': valu_mart_results
        # , 'walmart': walmart_results
        , 'sobeys': sobeys_results
        , 'freshco': freshco_results}
        # , 'food_basics': food_basics_results}

In [7]:
def find_n_cheapest_stores(n, results):
    per_unit_subtotals = {}
    subtotals = {}
    cheapest_stores = {}

    for store in results.keys():
        result = results[store]
        per_unit_subtotal = round(result.per_unit_price.sum(),3)
        subtotal = round(result.price.sum(),3)

        per_unit_subtotals[store] = per_unit_subtotal
        subtotals[store] = subtotal

    for i in range(n):
        min_store = min(per_unit_subtotals, key=per_unit_subtotals.get)
        
        cost = subtotals[min_store]

        cheapest_stores[i+1] = {'store':store
                            , 'file_name': f'{store}_results.csv'
                            , 'subtotal': cost}

        remove_key = per_unit_subtotals.pop(min_store)
    
    return cheapest_stores

In [8]:
grocery_list = ['2% milk', 'Cheddar Cheese', 'white sliced bread', 'ground beef', 'clementines', 'chicken breast', 'potatoes']

results_dict = search(grocery_list, ps)

In [9]:
results_dict

{'zehrs':             list_item  store           product_name  price  per_unit_price  \
 0             2% milk  zehrs                2% Milk   4.99            0.25
 1      Cheddar Cheese  zehrs  Medium Cheddar Cheese   9.79            1.40
 2  white sliced bread  zehrs            White Bread   2.69            0.40
 3         ground beef  zehrs       Lean Ground Beef  10.00            1.10
 4         clementines  zehrs    Organic Clementines   9.99            1.10
 5      chicken breast  zehrs  Chicken Breast Strips  13.99            1.75
 6            potatoes  zehrs           Red Potatoes   5.99            0.26

   is_sale  similarity
 0   False    1.000000
 1   False    0.666667
 2   False    0.666667
 3   False    0.666667
 4   False    0.500000
 5   False    0.666667
 6   False    0.500000  ,
 'no_frills':             list_item      store                 product_name  price  \
 0             2% milk  no_frills          True Taste, 2% Milk   5.49
 1      Cheddar Cheese  no_frills  Beef Burger, Cheddar Cheese  15.99
 2  white sliced bread  no_frills                  White Bread   2.29
 3         ground beef  no_frills             Lean Ground Beef  10.00
 4         clementines  no_frills                  Clementines   6.99
 5      chicken breast  no_frills  Halal Chicken Breast Strips   6.19
 6            potatoes  no_frills              Russet Potatoes   3.88

    per_unit_price is_sale  similarity
 0            0.27   False    0.500000
 1            1.42   False    0.500000
 2            0.34   False    0.666667
 3            1.10   False    0.666667
 4            0.39   False    1.000000
 5            1.65   False    0.500000
 6            0.09   False    0.500000  ,
 'valu_mart':             list_item      store                       product_name  price  \
 0             2% milk  valu_mart                            2% Milk   4.99
 1      Cheddar Cheese  valu_mart                 Old Cheddar Cheese   9.79
 2  white sliced bread  valu_mart                        White Bread   2.79
 3         ground beef  valu_mart                   Lean Ground Beef  10.00
 4         clementines  valu_mart                        Clementines   6.99
 5      chicken breast  valu_mart  Boneless Skinless Chicken Breasts  12.00
 6            potatoes  valu_mart                    Russet Potatoes   5.99

    per_unit_price is_sale  similarity
 0            0.25   False    1.000000
 1            1.40   False    0.666667
 2            0.41   False    0.666667
 3            1.10   False    0.666667
 4            0.39   False    1.000000
 5            1.86   False    0.500000
 6            0.13   False    0.500000  ,
 'sobeys':             list_item   store           product_name      price  \
 0             2% milk  sobeys                2% Milk   5.335401
 1      Cheddar Cheese  sobeys  Medium Cheddar Cheese  10.467650
 2  white sliced bread  sobeys            White Bread   3.006458
 3         ground beef  sobeys       Lean Ground Beef  12.684515
 4         clementines  sobeys    Organic Clementines  10.806390
 5      chicken breast  sobeys  Chicken Breast Strips  17.745636
 6            potatoes  sobeys           Red Potatoes   6.479507

    per_unit_price is_sale  similarity
 0        0.267305   False    1.000000
 1        1.496906   False    0.666667
 2        0.447057   False    0.666667
 3        1.395297   False    0.666667
 4        1.189893   False    0.500000
 5        2.219790   False    0.666667
 6        0.281247   False    0.500000  ,
 'freshco':             list_item    store           product_name      price  \
 0             2% milk  freshco                2% Milk   4.538761
 1      Cheddar Cheese  freshco  Medium Cheddar Cheese   8.904704
 2  white sliced bread  freshco            White Bread   2.426138
 3         ground beef  freshco       Lean Ground Beef   9.948871
 4         clementines  freshco    Organic Clementines   6.685974
 5      chicken breast  freshco  Chicken Breast Strips  13.918471
 6            potatoes  freshco           Red Potatoes   4.008907

    per_unit_price is_sale  similarity
 0        0.227393   False    1.000000
 1        1.273400   False    0.666667
 2        0.360764   False    0.666667
 3        1.094376   False    0.666667
 4        0.736193   False    0.500000
 5        1.741052   False    0.666667
 6        0.174009   False    0.500000  }

# 2 store combination

In [82]:
from itertools import combinations

In [83]:
list(combinations(results_dict.keys(), 2))

[('zehrs', 'no_frills'),
 ('zehrs', 'valu_mart'),
 ('zehrs', 'sobeys'),
 ('zehrs', 'freshco'),
 ('no_frills', 'valu_mart'),
 ('no_frills', 'sobeys'),
 ('no_frills', 'freshco'),
 ('valu_mart', 'sobeys'),
 ('valu_mart', 'freshco'),
 ('sobeys', 'freshco')]

In [84]:
out = pd.data_frame()

possibilities = list(combinations(results_dict.keys(), 2))
for combs in possibilities:
    for item in grocery_list: 
        df1 = pd.read_csv('search_output/valu_mart_results.csv')
        df2 = pd.read_csv('search_output/freshco_results.csv')

In [87]:
def choose_lowest(df1, df2, column_name):
    # Create a new DataFrame with the minimum value of the column for each row
    df = pd.DataFrame(columns=[column_name])
    df['list_item'] = df1.list_item
    df[column_name] = df1[column_name].combine(df2[column_name], min)
    return df

df1 = pd.read_csv('search_output/valu_mart_results.csv')
df2 = pd.read_csv('search_output/freshco_results.csv')

choose_lowest(df1, df2, 'comparable_price')

   comparable_price           list_item
0          0.309254             2% milk
1          1.400000      Cheddar Cheese
2          0.505070  white sliced bread
3          1.392842         ground beef
4          0.390000         clementines

In [74]:
df1[['list_item', 'comparable_price']]

            list_item  comparable_price
0             2% milk              0.35
1      Cheddar Cheese              1.40
2  white sliced bread              0.56
3         ground beef             15.41
4         clementines              0.39

In [75]:
df2[['list_item', 'comparable_price']]

            list_item  comparable_price
0             2% milk          0.309254
1      Cheddar Cheese          1.955578
2  white sliced bread          0.505070
3         ground beef          1.392842
4      chicken breast          1.741052

In [ ]:
import itertools

def lowest_price_multiple_df(df_list, column_name):
    results = []
    for df1, df2 in itertools.combinations(df_list, 2):
        result = lowest_price(df1, df2, column_name)
        results.append(result)
    return results

df1 = pd.DataFrame({'per_unit_price': [1, 2, 3, 4]})
df2 = pd.DataFrame({'per_unit_price': [4, 3, 2, 1]})
df3 = pd.DataFrame({'per_unit_price': [2, 3, 4, 5]})
df_list = [df1, df2, df3]
result_df = lowest_price_multiple_df(df_list, 'per_unit_price')

In [89]:
df2.head(1)

,store,category,brand,product,price,sale_price,per_unit_price,sale_per_unit_price,units,is_sale,list_item,similarity,comparable_price
0,freshco,dairy_and_eggs,Neilson,2% Milk,3.083447,NaN,0.309254,NaN,100ml,0.0,2% milk,100.0,0.309254

In [99]:
df1 = pd.read_csv('search_output/valu_mart_results.csv')
df2 = pd.read_csv('search_output/freshco_results.csv')

df = df1.append(df2, ignore_index=True)

dfc = df.groupby('list_item')['comparable_price']

df = df.assign(min_cost=dfc.transform(min))

df = df[df['comparable_price'] == df['min_cost']]

df

,Unnamed: 0,store,category,brand,product,price,sale_price,per_unit_price,sale_per_unit_price,units,is_sale,list_item,similarity,comparable_price,min_cost
1,24.0,valu_mart,dairy_and_eggs,No Name,Old Cheddar Cheese,9.790000,NaN,1.400000,NaN,100g,0.0,Cheddar Cheese,66.666667,1.400000,1.400000
4,1432.0,valu_mart,produce,NaN,Clementines,6.990000,NaN,0.390000,NaN,100g,0.0,clementines,100.000000,0.390000,0.390000
5,NaN,freshco,dairy_and_eggs,Neilson,2% Milk,3.083447,NaN,0.309254,NaN,100ml,0.0,2% milk,100.000000,0.309254,0.309254
7,NaN,freshco,bakery,Wonder,"Bread, Sliced White",3.418239,NaN,0.505070,NaN,100g,0.0,white sliced bread,75.000000,0.505070,0.505070
8,NaN,freshco,meat,NaN,Lean Ground Beef,6.964210,NaN,1.392842,NaN,100g,0.0,ground beef,66.666667,1.392842,1.392842
9,NaN,freshco,meat,Zabiha Halal,Chicken Breast Strips,13.918471,NaN,1.741052,NaN,100g,0.0,chicken breast,66.666667,1.741052,1.741052

In [37]:
from nltk.metrics.distance import jaccard_distance

jaccard_distance(set('Natrel 2% milk 4 L'.lower().split(' ')), set('2% milk'.lower().split(' ')))

0.6

In [21]:
set('Natrel 2% milk 4 L'.lower().split(' '))

{'2%', '4', 'l', 'milk', 'natrel'}

In [35]:
def jaccard_similarity(x,y):
    intersection_cardinality = len(set.intersection(*[set(x), set(y)]))
    union_cardinality = len(set.union(*[set(x), set(y)]))
    return intersection_cardinality/float(union_cardinality)

jaccard_similarity('Natrel 2% milk 4 L'.lower().split(' '), '2% milk'.lower().split(' '))

0.4

In [24]:
! pip install fuzzywuzzy

Collecting fuzzywuzzy
  Using cached fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [41]:
def jaccard_similarity(string1, string2):
    similarity = jaccard_distance(set(string1.lower()), set(string2.lower()))
    return int(similarity * 100)

jaccard_similarity('natrel 2% milk 4 L', 'milk 2%')

46

In [62]:
from fuzzywuzzy import process, fuzz
# import fuzzywuzzy as fuzz
import pandas as pd
from nltk.stem import PorterStemmer
ps = PorterStemmer()

df = pd.read_csv('clean_data/zehrs/zehrs_data.csv')

def jaccard_similarity(string1, string2):
    return (1 - jaccard_distance(set(string1.lower().split(' ')), set(string2.lower().split(' ')))) * 100


# Define the string to compare against
query = "2% milk"

# Use the process.extract() function to find the most similar items
results = process.extract(query, df['product'], scorer=jaccard_similarity, limit=30)

idxs = []
for item in results: 
    if item[1] >= 52: 
        idxs.append(item[2])

df = df.iloc[idxs]

import numpy as np 

df["comparable_price"] = np.where(df["is_sale"] == True, df["sale_price"], df["price"])

df

,Unnamed: 0,store,category,brand,product,price,sale_price,per_unit_price,sale_per_unit_price,units,is_sale,comparable_price
283,283,zehrs,dairy_and_eggs,Neilson,2% Milk,3.39,NaN,0.34,NaN,100ml,False,3.39
347,347,zehrs,dairy_and_eggs,Neilson,2% Milk,2.09,NaN,0.88,NaN,100ml,False,2.09
394,394,zehrs,dairy_and_eggs,Neilson,2% Milk,4.99,NaN,0.25,NaN,100ml,False,4.99
474,474,zehrs,dairy_and_eggs,Neilson,2% Milk,2.59,NaN,0.55,NaN,100ml,False,2.59
258,258,zehrs,dairy_and_eggs,Neilson,TruTaste 2% Milk,4.09,NaN,0.41,NaN,100ml,False,4.09
553,553,zehrs,dairy_and_eggs,PC Organics,Organic 2% Milk,4.59,NaN,0.46,NaN,100ml,False,4.59
68,68,zehrs,dairy_and_eggs,Rolling Meadow,Grass Fed 2% Milk,6.29,NaN,0.31,NaN,100ml,False,6.29
934,934,zehrs,dairy_and_eggs,Neilson,"True Taste, 2% Milk",4.99,NaN,0.25,NaN,100ml,False,4.99

In [51]:
results

[('2% Milk', 100.0, 283),
 ('2% Milk', 100.0, 347),
 ('2% Milk', 100.0, 394),
 ('2% Milk', 100.0, 474),
 ('TruTaste 2% Milk', 75.0, 258),
 ('Organic 2% Milk', 75.0, 553),
 ('Grass Fed 2% Milk', 60.0, 68),
 ('True Taste, 2% Milk', 60.0, 934),
 ('TruTaste Lactose Free 2% Milk', 50.0, 282),
 ('Organic Partly Skimmed 2% Milk', 50.0, 321),
 ('Organic Partly Skimmed 2% Milk', 50.0, 322),
 ('1% Milk', 50.0, 473),
 ('Trutaste Lactose Free 2% Milk', 50.0, 569),
 ('Trutaste Lactose Free 2% Milk', 50.0, 612),
 ('2% Lactose Free Enriched Milk', 50.0, 662),
 ('2% Lactose Free Chocolate Enriched Milk', 42.85714285714286, 245),
 ('2% M.F. Partly Skimmed Milk', 42.85714285714286, 953),
 ('Flavoured Milk, Chocolate', 40.0, 92),
 ('TruTaste 1% Milk', 40.0, 259),
 ('Flavoured Milk, Strawberry', 40.0, 351),
 ('Yogurt, Plain 2%', 40.0, 385),
 ('Flavoured Milk, Chocolate', 40.0, 475),
 ('TruTaste 1% Milk', 40.0, 614),
 ('TruTaste 1% Milk', 40.0, 708),
 ('Flavoured Milk, Chocolate', 40.0, 859),
 ('Milk, Ultrafiltered Partly Skimmed 2% M.F.', 37.5, 290),
 ('Milk, Ultrafiltered Partly Skimmed 2% M.F.', 37.5, 772),
 ('Nordica Cottage Cheese, 2%', 33.333333333333336, 54),
 ('3.25% Goat Milk', 33.333333333333336, 65),
 ('1% Partly Skimmed Milk', 33.333333333333336, 349),
 ('Organic 2% M.F.', 33.333333333333336, 386),
 ('Partially Skimmed Goat Milk 2%', 33.333333333333336, 395),
 ('Partly Skimmed Milk Lactose Free 2% M.F.', 33.333333333333336, 406),
 ('Organic Yogurt, Plain 2%', 33.333333333333336, 437),
 ('Lemon Grass, 2 Pack', 33.333333333333336, 2462),
 ('Lemon Grass, 2 Pack', 33.333333333333336, 2787),
 ('Ultrafiltered Partly Skimmed Milk Lactose Free 2% M.F',
  30.000000000000004,
  136),
 ('Greek Vanilla 2% MF Yogurt', 28.57142857142857, 86),
 ('Dairy 3.2% Natural Yogurt', 28.57142857142857, 108),
 ('Dairy Milker 2% M.F.', 28.57142857142857, 109),
 ('Organic Partly Skimmed 1% Milk', 28.57142857142857, 181),
 ('Organic Partly Skimmed 1% Milk', 28.57142857142857, 200),
 ('Organic Partly Skimmed 1% Milk', 28.57142857142857, 250),
 ('Chocolate Milk, 25% Less Sugar', 28.57142857142857, 257),
 ('2% M.F. Cottage Cheese ', 28.57142857142857, 291),
 ('Greek Peach 2% MF Yogurt', 28.57142857142857, 352),
 ('Yogourt Plain 2% M.F.', 28.57142857142857, 391),
 ('Greek Plain 2% MF Yogurt', 28.57142857142857, 399),
 ('Greek Coconut 2% MF Yogurt', 28.57142857142857, 403),
 ('Greek Lemon 2% MF Yogurt', 28.57142857142857, 465),
 ('Greek Lemon 2% MF Yogurt', 28.57142857142857, 488),
 ('Grass Fed 3.8% Milk', 28.57142857142857, 565),
 ('Trutaste Lactose Free 1% Milk', 28.57142857142857, 571),
 ('Grass Fed 3.8% Milk', 28.57142857142857, 579),
 ('3.2% M.F. Yogurt', 28.57142857142857, 605),
 ('Vanilla 2.9% MF Yogurt', 28.57142857142857, 610),
 ('Greek Cherry 2% MF Yogurt', 28.57142857142857, 628),
 ('Greek Lemon 2% MF Yogurt', 28.57142857142857, 744),
 ('Greek Strawberry 2% MF Yogurt ', 28.57142857142857, 754),
 ('2% M.F. Cottage Cheese ', 28.57142857142857, 773),
 ('Partly Skimmed Milk 1% MF', 28.57142857142857, 793),
 ('3.2% M.F. Yogurt', 28.57142857142857, 980),
 ('Dairy Product 2% M.F.', 28.57142857142857, 987),
 ('Cottage Cheese, 2% M.F.', 28.57142857142857, 992),
 ('Dairy Product 2% M.F.', 28.57142857142857, 1011),
 ('Pork Back Ribs, 2 Pack', 28.57142857142857, 1637),
 ('Live Lettuce Trio, 2-pack', 28.57142857142857, 2350),
 ('Chocolate Milk Partly Skimmed Grass Fed Organic 2 % M.F.',
  27.27272727272727,
  25),
 ('Chocolate Ultrafiltered Partly Skimmed Milk Lactose Free 2% M.F.',
  27.27272727272727,
  140),
 ('Chocolate Ultrafiltered Partly Skimmed Milk Lactose Free 2% M.F.',
  27.27272727272727,
  145),
 ('Lactose Free 2% Dairy Product (2L)', 25.0, 7),
 ('Organic Cultured Coconut Milk Plain, Unsweetened', 25.0, 32),
 ('Goat Milk 3.25% M.F', 25.0, 50),
 ('3.2% Canadian Harvest Blueberry Yogurt', 25.0, 99),
 ('3.25% Lactose Free Enriched Milk', 25.0, 208),
 ('Organic Milk', 25.0, 216),
 ('3.2% Canadian Harvest Cherry Yogurt', 25.0, 261),
 ('Plain 2% M.F. Greek Yogurt', 25.0, 293),
 ('Ultrafiltered Milk 3.25% M.F.', 25.0, 301),
 ('Coconut Milk Vegan Yogurt - Raspberry Blackcurrant', 25.0, 360),
 ('Trutaste No Lactose 3.25% Milk', 25.0, 389),
 ('Vanilla 2% M.F. Greek Yogurt', 25.0, 477),
 ('Vanilla 2% M.F. Greek Yogurt', 25.0, 490),
 ('Plain 2% M.F. Greek Yogurt', 25.0, 536),
 ('Ultrafiltered Skim Milk 0% M.F.', 25.0, 556),
 ('Skim Milk', 25.0, 567),
 ('Homogenized Milk', 25.0, 570),
 ('Vanilla 2% M.F. Greek Yogurt', 25.0, 593),
 ('3.25% M.F. Homogenized Milk', 25.0, 636),
 ('Banana 2% M.F. Greek Yogurt', 25.0, 640),
 ('Chocolate Milk', 25.0, 653),
 ('Chocolate Dairy Beverage 2% M.F.', 25.0, 723),
 ('Vanilla 2% M.F. Greek Yogurt', 25.0, 757),
 ('Plain 2% M.F. Greek Yogurt', 25.0, 775),
 ('Ultrafiltered Milk 3.25% M.F.', 25.0, 792),
 ('1% M.F. Partly Skimmed Milk', 25.0, 809),
 ('Trutaste No Lactose 3.25% Milk', 25.0, 888),
 ('Original Balkan Style Yogurt, Plain 2%', 25.0, 920),
 ('1% M.F. Partly Skimmed Milk', 25.0, 955),
 ('Greek Black Cherry 2% MF Yogurt ', 25.0, 975)]

In [107]:
from itertools import combinations

def item_selection(df1, df2):
    df = df1.append(df2, ignore_index=True)
    dfc = df.groupby('list_item')['comparable_price']
    df = df.assign(min_cost=dfc.transform(min))
    df = df[df['comparable_price'] == df['min_cost']]

    per_unit_subtotal = sum(df['comparable_price'])

    return df, per_unit_subtotal

results = {}

def n_store_selection(n, results_dict):
    # if n = 1:

    possibilities = list(combinations(results_dict.keys(), n))
    for combin in possibilities:
        df1 = pd.read_csv(f'search_output/{combin[0]}_results.csv')
        df2 = pd.read_csv(f'search_output/{combin[1]}_results.csv')

        optimal_selection, per_unit_subtotal = item_selection(df1, df2)

        results[combin] = per_unit_subtotal

    return results

n_store_selection(3, results_dict)

{('zehrs', 'no_frills', 'valu_mart'): 4.36,
 ('zehrs', 'no_frills', 'sobeys'): 6.603324443831867,
 ('zehrs', 'no_frills', 'freshco'): 6.0631486721469505,
 ('zehrs', 'valu_mart', 'sobeys'): 6.695622226465402,
 ('zehrs', 'valu_mart', 'freshco'): 5.738218348093484,
 ('zehrs', 'sobeys', 'freshco'): 5.9037967803848135,
 ('no_frills', 'valu_mart', 'sobeys'): 6.695622226465402,
 ('no_frills', 'valu_mart', 'freshco'): 5.738218348093484,
 ('no_frills', 'sobeys', 'freshco'): 5.9037967803848135,
 ('valu_mart', 'sobeys', 'freshco'): 5.9037967803848135}

In [112]:
d = [1,2,3]
print(d[0])
d.remove(d[0])
d

1

[2, 3]

In [117]:
from itertools import combinations

def item_selection(dfs):
    df = dfs[0]
    dfs.remove(dfs[0])
    for df_n in dfs:
        df = df.append(df_n, ignore_index=True)
    # df = df1.append(df2, ignore_index=True)
    df_grp = df.groupby('list_item')['comparable_price']
    df = df.assign(min_cost=df_grp.transform(min))
    df = df[df['comparable_price'] == df['min_cost']]

    per_unit_subtotal = sum(df['comparable_price'])

    return df, per_unit_subtotal

results = {}

def n_store_selection(n, results_dict):
    # if n = 1:

    possibilities = list(combinations(results_dict.keys(), n))
    for combin in possibilities:
        dfs = []
        for store in combin:
            df = pd.read_csv(f'search_output/{store}_results.csv')
            dfs.append(df)

        optimal_selection, per_unit_subtotal = item_selection(dfs)

        results[combin] = per_unit_subtotal

    return results

n_store_selection(1, results_dict)

{('zehrs',): 6.199999999999999,
 ('no_frills',): 4.53,
 ('valu_mart',): 18.11,
 ('sobeys',): 7.2838562670982165,
 ('freshco',): 5.9037967803848135}

In [118]:
len(results_dict)

5

In [2]:
import pandas as pd

In [9]:
df = pd.read_csv('search_output/zehrs_results.csv')
df = df.drop(columns=['Unnamed: 0'])
df

,store,category,brand,product,price,sale_price,per_unit_price,sale_per_unit_price,units,is_sale,list_item,similarity,comparable_PUP,comparable_price
0,zehrs,dairy_and_eggs,Neilson,2% Milk,3.39,NaN,0.34,NaN,100ml,0.0,2% milk,100.000000,0.34,3.39
1,zehrs,dairy_and_eggs,No Name,Medium Cheddar Cheese,4.29,NaN,2.15,NaN,100g,0.0,Cheddar Cheese,66.666667,2.15,4.29
2,zehrs,bakery,Wonder,"Bread, Sliced White",3.79,NaN,0.56,NaN,100g,0.0,white sliced bread,75.000000,0.56,3.79

In [13]:
df.to_dict('list')

{'store': ['zehrs', 'zehrs', 'zehrs'],
 'category': ['dairy_and_eggs', 'dairy_and_eggs', 'bakery'],
 'brand': ['Neilson', 'No Name', 'Wonder'],
 'product': ['2% Milk', 'Medium Cheddar Cheese', 'Bread, Sliced White'],
 'price': [3.39, 4.29, 3.79],
 'sale_price': [nan, nan, nan],
 'per_unit_price': [0.34, 2.15, 0.56],
 'sale_per_unit_price': [nan, nan, nan],
 'units': ['100ml', '100g', '100g'],
 'is_sale': [0.0, 0.0, 0.0],
 'list_item': ['2% milk', 'Cheddar Cheese', 'white sliced bread'],
 'similarity': [100.0, 66.66666666666667, 75.0],
 'comparable_PUP': [0.34, 2.15, 0.56],
 'comparable_price': [3.39, 4.29, 3.79]}

In [10]:
import pandas as pd

stores = ['walmart', 'freshco', 'sobeys', 'food_basics']

store = 'freshco'
# for store in stores:
flipp = pd.read_csv(f'clean_data/{store}/flyer_deals.csv')
synth = pd.read_csv(f'clean_data/{store}/synthetic_data.csv')

all_data = flipp.append(synth)


all_data.head()
# all_data.to_csv(f'clean_data/{store}/{store}_data.csv', index=False)

In [ ]:
all_data.tail()

In [7]:
from itertools import combinations, chain

# list(itertools.chain.from_iterable(itertools.combinations(lst, r) for r in range(1, len(lst)+1)))

stores = ['freshco', 'no_frills', 'zehrs', 'sobeys']
n = 2

list(chain.from_iterable(combinations(stores, r) for r in range(1, n+1)))

[('freshco',),
 ('no_frills',),
 ('zehrs',),
 ('sobeys',),
 ('freshco', 'no_frills'),
 ('freshco', 'zehrs'),
 ('freshco', 'sobeys'),
 ('no_frills', 'zehrs'),
 ('no_frills', 'sobeys'),
 ('zehrs', 'sobeys')]

In [18]:
import re 

brands = ['Neilson', 'IOGO', 'No Name']

strs = ['NeilsonPartly Skimmed Milk 2% MF4 l'
        , 'IOGONano Drinkable Yogurt, Strawberry6x93.0 ml'
        , 'No NameShredded Nacho Cheese Blend320 g']

for i in range(len(strs)):
    # add space after brand 
    s = strs[i].replace(brands[i], f'{brands[i]} ')
    
    # search for all numbers with letter directly in front 
    find_num = re.search('(?<=\w)\d', s)
    # index of that pattern match 
    idx = find_num.start()
    # split on the pattern index 
    s = s[:idx] + ' ' + s[idx:]
    print(s)

Neilson Partly Skimmed Milk 2% MF 4 l
IOGO Nano Drinkable Yogurt, Strawberry 6x93.0 ml
No Name Shredded Nacho Cheese Blend 320 g

In [27]:
import pandas as pd

study = pd.read_csv('empirical study.csv')
study.head()

,Item,Sobeys,FreshCo,Food Basics,Walmart,zehrs (found online),sobeys % difference,freshco % difference,food_basics % difference,walmart % difference,department
0,bananas,0.69,0.59,0.59,0.58,0.69,1.000000,0.855072,0.855072,0.840580,produce
1,ambrosia apple,2.99,2.49,2.48,1.97,2.99,1.000000,0.832776,0.829431,0.658863,produce
2,broccoli,3.99,2.49,2.88,2.97,2.99,1.334448,0.832776,0.963211,0.993311,produce
3,regular tomatoes,2.49,1.99,3.48,2.97,2.49,1.000000,0.799197,1.397590,1.192771,produce
4,romaine lettuce (single),1.99,1.79,1.99,2.33,3.49,0.570201,0.512894,0.570201,0.667622,produce

In [47]:
# scipy.stats.gmean(array, axis=0, dtype=None)
from scipy import stats

departments  = study.department.unique()

stores = ['freshco', 'sobeys', 'food_basics', 'walmart']

factors = pd.DataFrame()

for department in departments:
    df = study[study['department'] == department]

    for store in stores: 
        geo_mean = stats.gmean(df[f'{store} % difference'], axis=0, dtype=None)
        # print(store, department, geo_mean)
        if department == 'meat + seafood':
            factors = factors.append({'store':store, 'department':'meat', 'geo_mean':geo_mean}, ignore_index=True)
            factors = factors.append({'store':store, 'department':'seafood', 'geo_mean':geo_mean}, ignore_index=True)
        elif department == 'home goods':
            factors = factors.append({'store':store, 'department':'household_items', 'geo_mean':geo_mean}, ignore_index=True)
        elif department == 'dairy':
            factors = factors.append({'store':store, 'department':'dairy_and_eggs', 'geo_mean':geo_mean}, ignore_index=True)
        elif department == 'dry goods':
            factors = factors.append({'store':store, 'department':'pantry', 'geo_mean':geo_mean}, ignore_index=True)
            factors = factors.append({'store':store, 'department':'snacks', 'geo_mean':geo_mean}, ignore_index=True)
            factors = factors.append({'store':store, 'department':'drinks', 'geo_mean':geo_mean}, ignore_index=True)
            factors = factors.append({'store':store, 'department':'frozen', 'geo_mean':geo_mean}, ignore_index=True)
        else:
            factors = factors.append({'store':store, 'department':department, 'geo_mean':geo_mean}, ignore_index=True)

/Users/CaitlanKrasinski/miniconda3/envs/av/lib/python3.8/site-packages/scipy/stats/stats.py:402: RuntimeWarning: divide by zero encountered in log
  log_a = np.log(np.array(a, dtype=dtype))

In [48]:
factors

         department  geo_mean        store
0           produce  0.753613      freshco
1           produce  0.946817       sobeys
2           produce  0.885488  food_basics
3           produce  0.847831      walmart
4              meat  0.904069      freshco
5           seafood  0.904069      freshco
6              meat  1.066879       sobeys
7           seafood  1.066879       sobeys
8              meat  1.048851  food_basics
9           seafood  1.048851  food_basics
10             meat  0.996810      walmart
11          seafood  0.996810      walmart
12           bakery  0.862581      freshco
13           bakery  1.088140       sobeys
14           bakery  0.953091  food_basics
15           bakery  0.917885      walmart
16   dairy_and_eggs  0.849053      freshco
17   dairy_and_eggs  0.976067       sobeys
18   dairy_and_eggs  1.014595  food_basics
19   dairy_and_eggs  0.973251      walmart
20           pantry  0.833218      freshco
21           snacks  0.833218      freshco
22           drinks  0.833218      freshco
23           frozen  0.833218      freshco
24           pantry  0.884292       sobeys
25           snacks  0.884292       sobeys
26           drinks  0.884292       sobeys
27           frozen  0.884292       sobeys
28           pantry  0.960169  food_basics
29           snacks  0.960169  food_basics
30           drinks  0.960169  food_basics
31           frozen  0.960169  food_basics
32           pantry  0.911983      walmart
33           snacks  0.911983      walmart
34           drinks  0.911983      walmart
35           frozen  0.911983      walmart
36  household_items  0.847258      freshco
37  household_items  0.982069       sobeys
38  household_items  0.886890  food_basics
39  household_items  0.000000      walmart

In [43]:
d = factors[factors['department'] == 'meat + seafood']
d['department'] = ['meat']*len(d)

d = d.append({'department':['seafood']*len(d), 'store':d.store, 'geo_mean':d.geo_mean}, ignore_index=True)
d

<ipython-input-43-4f70056d216e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['department'] = ['meat']*len(d)

,department,geo_mean,store
0,meat,0.904069,freshco
1,meat,1.06688,sobeys
2,meat,1.04885,food_basics
3,meat,0.99681,walmart
4,"[seafood, seafood, seafood, seafood]",4 0.904069 5 1.066879 6 1.048851 7 ...,4 freshco 5 sobeys 6 food_ba...

In [38]:
factors

        department  geo_mean        store
0          produce  0.753613      freshco
1          produce  0.946817       sobeys
2          produce  0.885488  food_basics
3          produce  0.847831      walmart
4   meat + seafood  0.904069      freshco
5   meat + seafood  1.066879       sobeys
6   meat + seafood  1.048851  food_basics
7   meat + seafood  0.996810      walmart
8           bakery  0.862581      freshco
9           bakery  1.088140       sobeys
10          bakery  0.953091  food_basics
11          bakery  0.917885      walmart
12           dairy  0.849053      freshco
13           dairy  0.976067       sobeys
14           dairy  1.014595  food_basics
15           dairy  0.973251      walmart
16       dry goods  0.833218      freshco
17       dry goods  0.884292       sobeys
18       dry goods  0.960169  food_basics
19       dry goods  0.911983      walmart
20      home goods  0.847258      freshco
21      home goods  0.982069       sobeys
22      home goods  0.886890  food_basics
23      home goods  0.000000      walmart

In [81]:
f = '2023-02-16T00:00:00-05:00'
l = 'Ends 02/22'

l = l.split('Ends ')[1]

from datetime import datetime

dt_obj = datetime.strptime(f, "%Y-%m-%dT%H:%M:%S%z")
formatted_date = dt_obj.strftime("%m/%d")

formatted_date, l

('02/16', '02/22')

In [1]:
# IMPORTS 
import pandas as pd
import time 
from bs4 import BeautifulSoup
import scrapers.scraper as scraper

# variable store 
store_vars = { 
                'zehrs_produce':{'store':'zehrs',
                    'category_name':'produce',
                    'link':'https://www.zehrs.ca/food/fruits-vegetables/c/28000?navid=flyout-L2-fruits-vegetables',
                    'load_more_xpath':'//*[@id="site-content"]/div/div/div[6]/div/div[2]/div[4]/div/button'}
              }

# START RUN 
start_time = time.time()


# SET OPTIONS 
options = scraper.set_options()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
# options.add_argument('--headless')

# STARTUP DRIVER 
driver = scraper.initiate_driver(options)

# run each store for each department 
for store_prod in store_vars.keys():
    print(f'Starting {store_prod}')

    store_details = store_vars[store_prod]

    try:
        scraper.nav_to_page(driver, store_details['link'])
    except:
        continue

    time.sleep(8) # wait for page load 

    scraper.close_cookies_blocker(driver, '//*[@id="privacy-policy"]/div/div/button')

    time.sleep(5) # wait for page load 

    scraper.click_load_more(driver, store_details['load_more_xpath'])

    time.sleep(5) # wait for page load 

    scraper.check_that_bottom_is_reached(driver, store_details['load_more_xpath'])

    # extract html
    page_source = scraper.grab_html(driver)
    soup = BeautifulSoup(page_source, 'lxml')

    # find all product divs for that page 
    product_divs = soup.find_all("div", {"class": "product-tracking"})

Starting zehrs_produce
	 closed cookie blocker
	 1 page(s) loaded
	 more to load

In [3]:
len(product_divs)

96

In [4]:
df = pd.DataFrame(columns = ['category', 'brand', 'product_text', 'product_name', 'price_text', 'sale_price', 'per_unit_price_text', 'is_sale'])

In [19]:
for div in product_divs:
    prod_details = div.find_all("div", {"class": "product-tile__details"})
    
    name = prod_details[0].find_all("h3", {"class": "text text--small4 text--left text--default-color product-tile__details__info__name"})[0].text

    if 'roma ' in name.lower():
        try: # ex: fruit doesnt have a brand so allow pass 
            brand = prod_details[0].find_all("span", {"class": "product-name__item product-name__item--brand"})[0].text
        except:
            brand = ''

        product = prod_details[0].find_all("span", {"class": "product-name__item product-name__item--name"})[0].text
        
        prod_details2 = prod_details[0].find_all("div", {"class": "product-tile__details__info__section"})
        
        prod_info = prod_details[0].find_all("div", {"class": "product-prices product-prices--product-tile"})

        if prod_info == []: # household items follow diff div format 
            prod_info = prod_details[0].find_all("div", {"class": "selling-price-list selling-price-list--product-tile"})

In [20]:
product

'Roma Tomatoes'

In [29]:
prod_details2[0]

<div class="product-tile__details__info__section"><div class="product-tile-deal-badge"><div class="product-badge__icon product-badge__icon--sale product-badge__icon--product-tile"><div class="product-badge__icon__text product-badge__icon__text--sale">sale</div><div class="product-badge__icon__expiry product-badge__icon__expiry--sale">Ends 02/22</div></div></div><div class="product-tile__details__info__text-badge"><div class="product-badge__text product-badge__text--product-tile">SAVE $0.18</div></div><div class="product-prices product-prices--product-tile"><div aria-label="$0.53 each, it was $0.71" class="selling-price-list selling-price-list--sale selling-price-list--product-tile" role="group"><div class="selling-price-list__item"><span class="price selling-price-list__item__price selling-price-list__item__price--now-price"><span class="price__value selling-price-list__item__price selling-price-list__item__price--now-price__value">$0.53</span><span class="price__type selling-price-list__item__price selling-price-list__item__price--now-price__type">(est.)</span><span class="price__unit selling-price-list__item__price selling-price-list__item__price--now-price__unit">ea</span></span></div><div class="selling-price-list__item"><span class="price selling-price-list__item__price selling-price-list__item__price--was-price"><del class="price__value selling-price-list__item__price selling-price-list__item__price--was-price__value">$0.71</del><span class="price__type selling-price-list__item__price selling-price-list__item__price--was-price__type">(est.)</span><span class="price__unit selling-price-list__item__price selling-price-list__item__price--was-price__unit">ea</span></span></div></div><ul class="comparison-price-list comparison-price-list--product-tile"><li class="comparison-price-list__item"><span class="price comparison-price-list__item__price"><span class="price__value comparison-price-list__item__price__value">$4.39</span><span class="price__unit comparison-price-list__item__price__unit">/ 1kg</span></span></li><li class="comparison-price-list__item"><span class="price comparison-price-list__item__price"><span class="price__value comparison-price-list__item__price__value">$1.99</span><span class="price__unit comparison-price-list__item__price__unit">/ 1lb</span></span></li></ul></div><div class="product-tile-fulfillment-label product-tile-fulfillment-label--ff"></div></div>

In [32]:
 # if there is a was-price tag then it is on sale currently
# try: 
valid_to = prod_details2[0].find_all("div", {"class": "product-tile-deal-badge"})[0].text
print(valid_to)

saleEnds 02/22

In [34]:
# all_badge = sale_info[0].find_all("span", {"class": "product-badge__icon product-badge__icon--sale product-badge__icon--product-tile"})[0].text
# valid_to = all_badge[0].find_all("span", {"class": "product-badge__icon__expiry product-badge__icon__expiry--sale"})[0].text

price_text = prod_info[0].find_all("span", {"class": "price selling-price-list__item__price selling-price-list__item__price--was-price"})[0].text
sale_price = prod_info[0].find_all("span", {"class": "price selling-price-list__item__price selling-price-list__item__price--now-price"})[0].text
# sale = True

# print(product)
# except:
#     print('nope')

In [36]:
price_text,sale_price

('$0.71(est.)ea', '$0.53(est.)ea')

In [41]:
from datetime import date


today = date.today()
formatted_date = today.strftime("%m/%d/%Y")
print(formatted_date)

02/20/2023

In [42]:
import pandas as pd
from scipy import stats
import random

stores = ['freshco', 'sobeys', 'food_basics', 'walmart']

def generate_scaling_factors(study_data):
    '''geometric mean of % diff values to be our _scaling_factor_'''

    departments = study_data.department.unique()

    factors = pd.DataFrame()

    for department in departments:
        df = study_data[study_data['department'] == department]

        for store in stores: 

            geo_mean = stats.gmean(df[f'{store} % difference'], axis=0, dtype=None)

            if department == 'meat + seafood':
                factors = factors.append({'store':store, 'department':'meat', 'geo_mean':geo_mean}, ignore_index=True)
                factors = factors.append({'store':store, 'department':'seafood', 'geo_mean':geo_mean}, ignore_index=True)
            elif department == 'home goods':
                factors = factors.append({'store':store, 'department':'household_items', 'geo_mean':geo_mean}, ignore_index=True)
            elif department == 'dairy':
                factors = factors.append({'store':store, 'department':'dairy_and_eggs', 'geo_mean':geo_mean}, ignore_index=True)
            elif department == 'dry goods':
                factors = factors.append({'store':store, 'department':'pantry', 'geo_mean':geo_mean}, ignore_index=True)
                factors = factors.append({'store':store, 'department':'snacks', 'geo_mean':geo_mean}, ignore_index=True)
                factors = factors.append({'store':store, 'department':'drinks', 'geo_mean':geo_mean}, ignore_index=True)
                factors = factors.append({'store':store, 'department':'frozen', 'geo_mean':geo_mean}, ignore_index=True)
            else:
                factors = factors.append({'store':store, 'department':department, 'geo_mean':geo_mean}, ignore_index=True)

    return factors 


study = pd.read_csv('empirical study.csv')
baseline = pd.read_csv('clean_data/zehrs/zehrs_data.csv')

factors = generate_scaling_factors(study)

scaling_factors = {}


for store in stores:
    globals()[f"{store}_synthetic_data"] = pd.DataFrame()
    scaling_factors[store] = {}
    for category in factors.department.unique():
        category_data = baseline[baseline['category'] == category]

        columns = category_data.columns

        geo_mean = list(factors.loc[ (factors['store']==store) & (factors['department'] == category) ].geo_mean)[0]
        noise = random.uniform(0, 0.05)
        scaling_factor = geo_mean+noise
        # print(store, noise, geo_mean, scaling_factor)
        
        scaling_factors[store][category] = scaling_factor

        # print(scaling_factor)
        # print(category_data['price'])/
        # print(category_data['price'], category_data['price']*scaling_factor)

        category_data['price'] = category_data['price']*scaling_factor
        category_data['per_unit_price'] = category_data['per_unit_price']*scaling_factor
        category_data['sale_price'] = [None]*len(category_data)
        category_data['sale_per_unit_price'] = [None]*len(category_data)
        category_data['store'] = [store]*len(category_data)
        category_data['is_sale'] = [False]*len(category_data)

        category_data = category_data[columns]

        globals()[f"{store}_synthetic_data"] = globals()[f"{store}_synthetic_data"].append(category_data, ignore_index=True)
    
    # globals()[f"{store}_synthetic_data"].pop(globals()[f"{store}_synthetic_data"].columns[0])
    # globals()[f"{store}_synthetic_data"].to_csv(f'clean_data/{store}/synthetic_data.csv', index=False)

freshco 0.002183629149207722 0.7536125363840291 0.7557961655332368
2074    1.75
2075    1.99
2076    4.99
2077    1.99
2078    8.98
        ...
2754    7.99
2755    5.99
2756    5.99
2757    9.99
2758    3.95
Name: price, Length: 685, dtype: float64 2074    1.322643
2075    1.504034
2076    3.771423
2077    1.504034
2078    6.787050
          ...
2754    6.038811
2755    4.527219
2756    4.527219
2757    7.550404
2758    2.985395
Name: price, Length: 685, dtype: float64
freshco 0.02048568995446682 0.9040689227396467 0.9245546126941135
1597    12.00
1598    35.77
1599     8.00
1600     8.79
1601    15.00
        ...
2069    15.99
2070     7.99
2071    13.99
2072    16.99
2073     5.99
Name: price, Length: 477, dtype: float64 1597    11.094655
1598    33.071318
1599     7.396437
1600     8.126835
1601    13.868319
          ...
2069    14.783628
2070     7.387191
2071    12.934519
2072    15.708183
2073     5.538082
Name: price, Length: 477, dtype: float64
freshco 0.0007015154195482543 0.9040689227396467 0.9047704381591949
2759    10.99
2760    20.23
2761     8.43
2762    11.99
2763     7.99
        ...
2897     3.99
2898    13.99
2899     9.99
2900     8.99
2901    13.99
Name: price, Length: 143, dtype: float64 2759     9.943427
2760    18.303506
2761     7.627215
2762    10.848198
2763     7.229116
          ...
2897     3.610034
2898    12.657738
2899     9.038657
2900     8.133886
2901    12.657738
Name: price, Length: 143, dtype: float64
freshco 0.03690548331227417 0.8625812978524852 0.8994867811647593
990     4.29
991     4.29
992     4.29
993     5.99
994     3.09
        ...
1592    3.29
1593    3.79
1594    4.49
1595    6.99
1596    3.99
Name: price, Length: 607, dtype: float64 990     3.858798
991     3.858798
992     3.858798
993     5.387926
994     2.779414
          ...
1592    2.959312
1593    3.409055
1594    4.038696
1595    6.287413
1596    3.588952
Name: price, Length: 607, dtype: float64
freshco 0.024531945030226116 0.8490533329532316 0.8735852779834578
0       5.89
1       4.99
2       5.89
3       2.89
4       6.69
       ...
985     4.79
986     2.99
987    12.99
988     4.99
989     8.99
Name: price, Length: 990, dtype: float64 0       5.145417
1       4.359191
2       5.145417
3       2.524661
4       5.844286
         ...
985     4.184473
986     2.612020
987    11.347873
988     4.359191
989     7.853532
Name: price, Length: 990, dtype: float64
freshco 0.030308590906177574 0.8332179330173819 0.8635265239235594
2902    4.00
2903    4.00
2904    4.00
2905    4.00
2906    3.79
        ...
5353    6.49
5354    2.99
5355    3.09
5356    4.49
5357    3.99
Name: price, Length: 2456, dtype: float64 2902    3.454106
2903    3.454106
2904    3.454106
2905    3.454106
2906    3.272766
          ...
5353    5.604287
5354    2.581944
5355    2.668297
5356    3.877234
5357    3.445471
Name: price, Length: 2456, dtype: float64
freshco 0.03589258858653856 0.8332179330173819 0.8691105216039204
5358     1.99
5359     2.99
5360     6.49
5361     3.79
5362     6.99
        ...
7440    16.99
7441     3.99
7442     6.99
7443     2.99
7444     3.99
Name: price, Length: 2087, dtype: float64 5358     1.729530
5359     2.598640
5360     5.640527
5361     3.293929
5362     6.075083
          ...
7440    14.766188
7441     3.467751
7442     6.075083
7443     2.598640
7444     3.467751
Name: price, Length: 2087, dtype: float64
freshco 0.04128730654980751 0.8332179330173819 0.8745052395671894
7445    4.99
7446    6.99
7447    7.49
7448    6.99
7449    6.99
        ...
7927    3.29
7928    8.29
7929    6.99
7930    1.99
7931    5.99
Name: price, Length: 487, dtype: float64 7445    4.363781
7446    6.112792
7447    6.550044
7448    6.112792
7449    6.112792
          ...
7927    2.877122
7928    7.249648
7929    6.112792
7930    1.740265
7931    5.238286
Name: price, Length: 487, dtype: float64
freshco 0.01823261779129698 0.8332179330173819 0.8514505508086789
7932     4.99
7933     2.99
7934     3.49
7935     4.99
7936    11.99
        ...
9514     4.79
9515     5.49
9516     4.79
9517     5.49
9518     4.79
Name: price, Length: 1587, dtype: float64 7932     4.248738
7933     2.545837
7934     2.971562
7935     4.248738
7936    10.208892
          ...
9514     4.078448
9515     4.674464
9516     4.078448
9517     4.674464
9518     4.078448
Name: price, Length: 1587, dtype: float64
freshco 0.017832753877806657 0.8472575300541066 0.8650902839319133
9519    12.99
9520    18.99
9521     7.99
9522    26.99
9523     8.49
9524     6.99
9525     6.99
9526    14.99
9527    14.99
9528     4.49
9529    22.99
9530     4.99
9531     5.99
9532    22.99
9533    17.99
9534    14.98
9535    12.98
9536    15.99
9537    22.99
9538     6.49
9539    14.99
9540    19.98
9541     5.99
9542     5.99
Name: price, dtype: float64 9519    11.237523
9520    16.428064
9521     6.912071
9522    23.348787
9523     7.344617
9524     6.046981
9525     6.046981
9526    12.967703
9527    12.967703
9528     3.884255
9529    19.888426
9530     4.316801
9531     5.181891
9532    19.888426
9533    15.562974
9534    12.959052
9535    11.228872
9536    13.832794
9537    19.888426
9538     5.614436
9539    12.967703
9540    17.284504
9541     5.181891
9542     5.181891
Name: price, dtype: float64
sobeys 0.04909088290335088 0.9468166170033139 0.9959074999066647
2074    1.75
2075    1.99
2076    4.99
2077    1.99
2078    8.98
        ...
2754    7.99
2755    5.99
2756    5.99
2757    9.99
2758    3.95
Name: price, Length: 685, dtype: float64 2074    1.742838
2075    1.981856
2076    4.969578
2077    1.981856
2078    8.943249
          ...
2754    7.957301
2755    5.965486
2756    5.965486
2757    9.949116
2758    3.933835
Name: price, Length: 685, dtype: float64
sobeys 0.04589354852283028 1.0668788370193973 1.1127723855422276
1597    12.00
1598    35.77
1599     8.00
1600     8.79
1601    15.00
        ...
2069    15.99
2070     7.99
2071    13.99
2072    16.99
2073     5.99
Name: price, Length: 477, dtype: float64 1597    13.353269
1598    39.803868
1599     8.902179
1600     9.781269
1601    16.691586
          ...
2069    17.793230
2070     8.891051
2071    15.567686
2072    18.906003
2073     6.665507
Name: price, Length: 477, dtype: float64

/var/folders/4w/1b_77sm101q5yktxwcpybmmw0000gp/T/ipykernel_34160/2547969563.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  category_data['price'] = category_data['price']*scaling_factor
/var/folders/4w/1b_77sm101q5yktxwcpybmmw0000gp/T/ipykernel_34160/2547969563.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  category_data['per_unit_price'] = category_data['per_unit_price']*scaling_factor
/var/folders/4w/1b_77sm101q5yktxwcpybmmw0000gp/T/ipykernel_34160/2547969563.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  category_data['sale_price'] = [None]*len(category_data)
/var/folders/4w/1b_77sm101q5yktxwcpybmmw0000gp/T/ipykernel_34160/2547969563.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  category_data['sale_per_unit_price'] = [None]*len(category_data)
/var/folders/4w/1b_77sm101q5yktxwcpybmmw0000gp/T/ipykernel_34160/2547969563.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  category_data['store'] = [store]*len(category_data)
/var/folders/4w/1b_77sm101q5yktxwcpybmmw0000gp/T/ipykernel_34160/2547969563.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  category_data['is_sale'] = [False]*len(category_data)

sobeys 0.02153488684395884 1.0668788370193973 1.0884137238633562
2759    10.99
2760    20.23
2761     8.43
2762    11.99
2763     7.99
        ...
2897     3.99
2898    13.99
2899     9.99
2900     8.99
2901    13.99
Name: price, Length: 143, dtype: float64 2759    11.961667
2760    22.018610
2761     9.175328
2762    13.050081
2763     8.696426
          ...
2897     4.342771
2898    15.226908
2899    10.873253
2900     9.784839
2901    15.226908
Name: price, Length: 143, dtype: float64
sobeys 0.0389914784402052 1.0881400251080986 1.1271315035483038
990     4.29
991     4.29
992     4.29
993     5.99
994     3.09
        ...
1592    3.29
1593    3.79
1594    4.49
1595    6.99
1596    3.99
Name: price, Length: 607, dtype: float64 990     4.835394
991     4.835394
992     4.835394
993     6.751518
994     3.482836
          ...
1592    3.708263
1593    4.271828
1594    5.060820
1595    7.878649
1596    4.497255
Name: price, Length: 607, dtype: float64
sobeys 0.039431131982650566 0.9760668381967172 1.0154979701793678
0       5.89
1       4.99
2       5.89
3       2.89
4       6.69
       ...
985     4.79
986     2.99
987    12.99
988     4.99
989     8.99
Name: price, Length: 990, dtype: float64 0       5.981283
1       5.067335
2       5.981283
3       2.934789
4       6.793681
         ...
985     4.864235
986     3.036339
987    13.191319
988     5.067335
989     9.129327
Name: price, Length: 990, dtype: float64
sobeys 0.0009386854491858888 0.8842916182319199 0.8852303036811058
2902    4.00
2903    4.00
2904    4.00
2905    4.00
2906    3.79
        ...
5353    6.49
5354    2.99
5355    3.09
5356    4.49
5357    3.99
Name: price, Length: 2456, dtype: float64 2902    3.540921
2903    3.540921
2904    3.540921
2905    3.540921
2906    3.355023
          ...
5353    5.745145
5354    2.646839
5355    2.735362
5356    3.974684
5357    3.532069
Name: price, Length: 2456, dtype: float64
sobeys 0.02926542189939929 0.8842916182319199 0.9135570401313192
5358     1.99
5359     2.99
5360     6.49
5361     3.79
5362     6.99
        ...
7440    16.99
7441     3.99
7442     6.99
7443     2.99
7444     3.99
Name: price, Length: 2087, dtype: float64 5358     1.817979
5359     2.731536
5360     5.928985
5361     3.462381
5362     6.385764
          ...
7440    15.521334
7441     3.645093
7442     6.385764
7443     2.731536
7444     3.645093
Name: price, Length: 2087, dtype: float64
sobeys 0.0044179863132788435 0.8842916182319199 0.8887096045451988
7445    4.99
7446    6.99
7447    7.49
7448    6.99
7449    6.99
        ...
7927    3.29
7928    8.29
7929    6.99
7930    1.99
7931    5.99
Name: price, Length: 487, dtype: float64 7445    4.434661
7446    6.212080
7447    6.656435
7448    6.212080
7449    6.212080
          ...
7927    2.923855
7928    7.367403
7929    6.212080
7930    1.768532
7931    5.323371
Name: price, Length: 487, dtype: float64
sobeys 0.028334223090109356 0.8842916182319199 0.9126258413220293
7932     4.99
7933     2.99
7934     3.49
7935     4.99
7936    11.99
        ...
9514     4.79
9515     5.49
9516     4.79
9517     5.49
9518     4.79
Name: price, Length: 1587, dtype: float64 7932     4.554003
7933     2.728751
7934     3.185064
7935     4.554003
7936    10.942384
          ...
9514     4.371478
9515     5.010316
9516     4.371478
9517     5.010316
9518     4.371478
Name: price, Length: 1587, dtype: float64
sobeys 0.01904692555609025 0.9820693156300221 1.0011162411861123
9519    12.99
9520    18.99
9521     7.99
9522    26.99
9523     8.49
9524     6.99
9525     6.99
9526    14.99
9527    14.99
9528     4.49
9529    22.99
9530     4.99
9531     5.99
9532    22.99
9533    17.99
9534    14.98
9535    12.98
9536    15.99
9537    22.99
9538     6.49
9539    14.99
9540    19.98
9541     5.99
9542     5.99
Name: price, dtype: float64 9519    13.004500
9520    19.011197
9521     7.998919
9522    27.020127
9523     8.499477
9524     6.997803
9525     6.997803
9526    15.006732
9527    15.006732
9528     4.495012
9529    23.015662
9530     4.995570
9531     5.996686
9532    23.015662
9533    18.010081
9534    14.996721
9535    12.994489
9536    16.007849
9537    23.015662
9538     6.497244
9539    15.006732
9540    20.002302
9541     5.996686
9542     5.996686
Name: price, dtype: float64
food_basics 0.048270227943764316 0.8854875346308027 0.933757762574567
2074    1.75
2075    1.99
2076    4.99
2077    1.99
2078    8.98
        ...
2754    7.99
2755    5.99
2756    5.99
2757    9.99
2758    3.95
Name: price, Length: 685, dtype: float64 2074    1.634076
2075    1.858178
2076    4.659451
2077    1.858178
2078    8.385145
          ...
2754    7.460725
2755    5.593209
2756    5.593209
2757    9.328240
2758    3.688343
Name: price, Length: 685, dtype: float64
food_basics 0.03642064038507034 1.0488512698862713 1.0852719102713417
1597    12.00
1598    35.77
1599     8.00
1600     8.79
1601    15.00
        ...
2069    15.99
2070     7.99
2071    13.99
2072    16.99
2073     5.99
Name: price, Length: 477, dtype: float64 1597    13.023263
1598    38.820176
1599     8.682175
1600     9.539540
1601    16.279079
          ...
2069    17.353498
2070     8.671323
2071    15.182954
2072    18.438770
2073     6.500779
Name: price, Length: 477, dtype: float64
food_basics 0.033737531203236346 1.0488512698862713 1.0825888010895077
2759    10.99
2760    20.23
2761     8.43
2762    11.99
2763     7.99
        ...
2897     3.99
2898    13.99
2899     9.99
2900     8.99
2901    13.99
Name: price, Length: 143, dtype: float64 2759    11.897651
2760    21.900771
2761     9.126224
2762    12.980240
2763     8.649885
          ...
2897     4.319529
2898    15.145417
2899    10.815062
2900     9.732473
2901    15.145417
Name: price, Length: 143, dtype: float64
food_basics 0.0037980391851702823 0.9530909282397416 0.9568889674249119
990     4.29
991     4.29
992     4.29
993     5.99
994     3.09
        ...
1592    3.29
1593    3.79
1594    4.49
1595    6.99
1596    3.99
Name: price, Length: 607, dtype: float64 990     4.105054
991     4.105054
992     4.105054
993     5.731765
994     2.956787
          ...
1592    3.148165
1593    3.626609
1594    4.296431
1595    6.688654
1596    3.817987
Name: price, Length: 607, dtype: float64
food_basics 0.01985617614834291 1.0145947059171576 1.0344508820655005
0       5.89
1       4.99
2       5.89
3       2.89
4       6.69
       ...
985     4.79
986     2.99
987    12.99
988     4.99
989     8.99
Name: price, Length: 990, dtype: float64 0       6.092916
1       5.161910
2       6.092916
3       2.989563
4       6.920476
         ...
985     4.955020
986     3.093008
987    13.437517
988     5.161910
989     9.299713
Name: price, Length: 990, dtype: float64
food_basics 0.0036105225617179327 0.9601689860323005 0.9637795085940184
2902    4.00
2903    4.00
2904    4.00
2905    4.00
2906    3.79
        ...
5353    6.49
5354    2.99
5355    3.09
5356    4.49
5357    3.99
Name: price, Length: 2456, dtype: float64 2902    3.855118
2903    3.855118
2904    3.855118
2905    3.855118
2906    3.652724
          ...
5353    6.254929
5354    2.881701
5355    2.978079
5356    4.327370
5357    3.845480
Name: price, Length: 2456, dtype: float64
food_basics 0.028382037938503402 0.9601689860323005 0.9885510239708039
5358     1.99
5359     2.99
5360     6.49
5361     3.79
5362     6.99
        ...
7440    16.99
7441     3.99
7442     6.99
7443     2.99
7444     3.99
Name: price, Length: 2087, dtype: float64 5358     1.967217
5359     2.955768
5360     6.415696
5361     3.746608
5362     6.909972
          ...
7440    16.795482
7441     3.944319
7442     6.909972
7443     2.955768
7444     3.944319
Name: price, Length: 2087, dtype: float64
food_basics 0.006387608192148004 0.9601689860323005 0.9665565942244485
7445    4.99
7446    6.99
7447    7.49
7448    6.99
7449    6.99
        ...
7927    3.29
7928    8.29
7929    6.99
7930    1.99
7931    5.99
Name: price, Length: 487, dtype: float64 7445    4.823117
7446    6.756231
7447    7.239509
7448    6.756231
7449    6.756231
          ...
7927    3.179971
7928    8.012754
7929    6.756231
7930    1.923448
7931    5.789674
Name: price, Length: 487, dtype: float64
food_basics 0.009972759727091725 0.9601689860323005 0.9701417457593923
7932     4.99
7933     2.99
7934     3.49
7935     4.99
7936    11.99
        ...
9514     4.79
9515     5.49
9516     4.79
9517     5.49
9518     4.79
Name: price, Length: 1587, dtype: float64 7932     4.841007
7933     2.900724
7934     3.385795
7935     4.841007
7936    11.632000
          ...
9514     4.646979
9515     5.326078
9516     4.646979
9517     5.326078
9518     4.646979
Name: price, Length: 1587, dtype: float64
food_basics 0.012423854630335402 0.8868896100411593 0.8993134646714946
9519    12.99
9520    18.99
9521     7.99
9522    26.99
9523     8.49
9524     6.99
9525     6.99
9526    14.99
9527    14.99
9528     4.49
9529    22.99
9530     4.99
9531     5.99
9532    22.99
9533    17.99
9534    14.98
9535    12.98
9536    15.99
9537    22.99
9538     6.49
9539    14.99
9540    19.98
9541     5.99
9542     5.99
Name: price, dtype: float64 9519    11.682082
9520    17.077963
9521     7.185515
9522    24.272470
9523     7.635171
9524     6.286201
9525     6.286201
9526    13.480709
9527    13.480709
9528     4.037917
9529    20.675217
9530     4.487574
9531     5.386888
9532    20.675217
9533    16.178649
9534    13.471716
9535    11.673089
9536    14.380022
9537    20.675217
9538     5.836544
9539    13.480709
9540    17.968283
9541     5.386888
9542     5.386888
Name: price, dtype: float64
walmart 0.029044353420685967 0.8478311319107685 0.8768754853314545
2074    1.75
2075    1.99
2076    4.99
2077    1.99
2078    8.98
        ...
2754    7.99
2755    5.99
2756    5.99
2757    9.99
2758    3.95
Name: price, Length: 685, dtype: float64 2074    1.534532
2075    1.744982
2076    4.375609
2077    1.744982
2078    7.874342
          ...
2754    7.006235
2755    5.252484
2756    5.252484
2757    8.759986
2758    3.463658
Name: price, Length: 685, dtype: float64
walmart 0.03733949443472067 0.9968100160924755 1.0341495105271963
1597    12.00
1598    35.77
1599     8.00
1600     8.79
1601    15.00
        ...
2069    15.99
2070     7.99
2071    13.99
2072    16.99
2073     5.99
Name: price, Length: 477, dtype: float64 1597    12.409794
1598    36.991528
1599     8.273196
1600     9.090174
1601    15.512243
          ...
2069    16.536051
2070     8.262855
2071    14.467752
2072    17.570200
2073     6.194556
Name: price, Length: 477, dtype: float64
walmart 0.02662487522145023 0.9968100160924755 1.0234348913139257
2759    10.99
2760    20.23
2761     8.43
2762    11.99
2763     7.99
        ...
2897     3.99
2898    13.99
2899     9.99
2900     8.99
2901    13.99
Name: price, Length: 143, dtype: float64 2759    11.247549
2760    20.704088
2761     8.627556
2762    12.270984
2763     8.177245
          ...
2897     4.083505
2898    14.317854
2899    10.224115
2900     9.200680
2901    14.317854
Name: price, Length: 143, dtype: float64
walmart 0.004848253276281084 0.9178849689908943 0.9227332222671755
990     4.29
991     4.29
992     4.29
993     5.99
994     3.09
        ...
1592    3.29
1593    3.79
1594    4.49
1595    6.99
1596    3.99
Name: price, Length: 607, dtype: float64 990     3.958526
991     3.958526
992     3.958526
993     5.527172
994     2.851246
          ...
1592    3.035792
1593    3.497159
1594    4.143072
1595    6.449905
1596    3.681706
Name: price, Length: 607, dtype: float64
walmart 0.0467955186919679 0.9732505539408476 1.0200460726328155
0       5.89
1       4.99
2       5.89
3       2.89
4       6.69
       ...
985     4.79
986     2.99
987    12.99
988     4.99
989     8.99
Name: price, Length: 990, dtype: float64 0       6.008071
1       5.090030
2       6.008071
3       2.947933
4       6.824108
         ...
985     4.886021
986     3.049938
987    13.250398
988     5.090030
989     9.170214
Name: price, Length: 990, dtype: float64
walmart 0.022291635856768095 0.9119826885423901 0.9342743243991581
2902    4.00
2903    4.00
2904    4.00
2905    4.00
2906    3.79
        ...
5353    6.49
5354    2.99
5355    3.09
5356    4.49
5357    3.99
Name: price, Length: 2456, dtype: float64 2902    3.737097
2903    3.737097
2904    3.737097
2905    3.737097
2906    3.540900
          ...
5353    6.063440
5354    2.793480
5355    2.886908
5356    4.194892
5357    3.727755
Name: price, Length: 2456, dtype: float64
walmart 0.0023483890728421223 0.9119826885423901 0.9143310776152321
5358     1.99
5359     2.99
5360     6.49
5361     3.79
5362     6.99
        ...
7440    16.99
7441     3.99
7442     6.99
7443     2.99
7444     3.99
Name: price, Length: 2087, dtype: float64 5358     1.819519
5359     2.733850
5360     5.934009
5361     3.465315
5362     6.391174
          ...
7440    15.534485
7441     3.648181
7442     6.391174
7443     2.733850
7444     3.648181
Name: price, Length: 2087, dtype: float64
walmart 0.024582163355874792 0.9119826885423901 0.9365648518982649
7445    4.99
7446    6.99
7447    7.49
7448    6.99
7449    6.99
        ...
7927    3.29
7928    8.29
7929    6.99
7930    1.99
7931    5.99
Name: price, Length: 487, dtype: float64 7445    4.673459
7446    6.546588
7447    7.014871
7448    6.546588
7449    6.546588
          ...
7927    3.081298
7928    7.764123
7929    6.546588
7930    1.863764
7931    5.610023
Name: price, Length: 487, dtype: float64
walmart 0.0037193694859846194 0.9119826885423901 0.9157020580283747
7932     4.99
7933     2.99
7934     3.49
7935     4.99
7936    11.99
        ...
9514     4.79
9515     5.49
9516     4.79
9517     5.49
9518     4.79
Name: price, Length: 1587, dtype: float64 7932     4.569353
7933     2.737949
7934     3.195800
7935     4.569353
7936    10.979268
          ...
9514     4.386213
9515     5.027204
9516     4.386213
9517     5.027204
9518     4.386213
Name: price, Length: 1587, dtype: float64
walmart 0.046714282434443206 0.7950944243904214 0.8418087068248646
9519    12.99
9520    18.99
9521     7.99
9522    26.99
9523     8.49
9524     6.99
9525     6.99
9526    14.99
9527    14.99
9528     4.49
9529    22.99
9530     4.99
9531     5.99
9532    22.99
9533    17.99
9534    14.98
9535    12.98
9536    15.99
9537    22.99
9538     6.49
9539    14.99
9540    19.98
9541     5.99
9542     5.99
Name: price, dtype: float64 9519    10.935095
9520    15.985947
9521     6.726052
9522    22.720417
9523     7.146956
9524     5.884243
9525     5.884243
9526    12.618713
9527    12.618713
9528     3.779721
9529    19.353182
9530     4.200625
9531     5.042434
9532    19.353182
9533    15.144139
9534    12.610294
9535    10.926677
9536    13.460521
9537    19.353182
9538     5.463339
9539    12.618713
9540    16.819338
9541     5.042434
9542     5.042434
Name: price, dtype: float64